/*** General Style ***/
* {
    background-image:url(assets/textures/fabric_plaid.png);
    font-family: 'Museo', serif;
}
@font-face {
    font-family: 'Museo';
    src: url("assets/fonts/museo/museo-300-webfont.eot");
    src: 
    url("assets/fonts/museo/museo-300-webfont.woff") format("woff"),
    url("assets/fonts/museo/museo-300-webfont.ttf") format("truetype"),
    url("assets/fonts/museo/museo-300-webfont.svg#filename") format("svg");
}
/*Wrapper Style*/
#wrapper {
        width: 80%;
        margin: 0 auto;
}
/******* Header Style *******/
nav {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    margin:auto; 
  }
  .header-left, .header-right {
      margin: auto 0px;
   
  }
  /***** Carousel *****/
  .carousel {
      border: solid red 1px;
      display:block;
      position:relative;
      margin:auto;
      width: 100%;
      height:400px;
  }
  .carousel img, .carousel h5 {
      position: absolute;
  }
  #featured-project {
    width:80%;
  }
  /* Posts Flexbox */
  .posts {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.posts img {
	margin: 1% 0;
	width: 22%;
	align-self: flex-start;
}

  /***** Button *****/
  .button {
    display:inline;
    background-image:url(assets/textures/az_subtle.png); 
    background-color:darkgray;
    background-blend-mode: multiply;
    padding:10px 100px;
  }
  a:link, a:visited  {
    text-decoration: none;
    color:white;
  }
  /******* Footer Section ******/
footer {
    display:flex;
    justify-content:space-between
}
.footer-left {
    display:flex;
    flex-flow: column nowrap;
}
#footer-nav {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.footer-gallery {
    border:solid 1px red;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.footer-gallery img {
    margin: 2%;
	width: 20%;
	align-self: flex-start;
}